site_name: BlendSQL
site_description: Query language for blending SQL and LLMs across structured + unstructured data, with type constraints.

repo_name: parkervg/blendsql
repo_url: https://github.com/parkervg/blendsql

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    - scheme: default
      primary: white
  logo: img/blender.png
  favicon: img/blender.png
  features:
    - content.code.copy
    - header.autohide
    - navigation.expand
    - navigation.tabs
    - navigation.sections

markdown_extensions:
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_submodules: true
            show_source: true
            docstring_style: google
            docstring_section_style: table
            show_docstring_examples: true
            show_symbol_type_heading: true
            show_if_no_docstring: False
            members: False

  - search
  - section-index
  - mkdocs-jupyter:
      include_source: True
      execute: False

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Getting Started:
      - Quickstart: quickstart.md
      - Some Cool Things by Example: by-example.md
      - Examples:
          - BlendSQL by Example: reference/examples/blendsql-by-example.ipynb
          - Custom VQA Ingredient with LLaVA: reference/examples/vqa-ingredient.ipynb
          - Teaching BlendSQL via In-Context Learning: reference/examples/teaching-blendsql-via-in-context-learning.ipynb
  - Documentation:
      - BlendSQL Functions: reference/functions.md
      - Execute a BlendSQL Query: reference/execute-blendsql.md
      - Language Models:
          - reference/models/models.md
          - LiteLLM: reference/models/litellm.md
          - Transformers: reference/models/transformers.md
          - LlamaCpp: reference/models/llamacpp.md
      - Databases:
          - reference/databases/databases.md
          - DuckDB: reference/databases/duckdb.md
          - Pandas (aka DuckDB in a trench coat): reference/databases/pandas.md
          - SQLite: reference/databases/sqlite.md
          - PostgreSQL: reference/databases/postgresql.md
      - Smoothie:
          - reference/smoothie.md
